<body class = "bodyy">
<h1>Dog's Page</h1>
<%= link_to "Home", homes_path %>
<%= link_to "About", about_path %>
<%= link_to "Dog Breeds", breeds_path %>
<h1>The doggos name is: <%= @dog.name %> <br> They are: <%= @dog.age %> years old <br> Their breed is: <%= @dog.breed.name %>
</body>
