<h1>All Breeds</h1>
<%= link_to "Home Page", homes_path %>
<%= link_to "About Us", about_path %>
<%= link_to "Dog Breeds", breeds_path %>


<%= form_with(url: search_breeds_path, method: :get, local: true) do %>
  <%= label_tag :query, "Search Breeds:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<h2><%= @results.present? ? "Search Results:" : "All Breeds:" %></h2>
<ul>
  <% if @results.present? %>
    <% @results.each do |breed| %>
      <li><%= breed.name %>,  Breed ID: <%= breed.id %> </li>
    <% end %>
  <% else %>
    <% @breeds.each do |breed| %>
      <li><%= breed.name %></li>
    <% end %>
  <% end %>
</ul>




